@import '../../styles/constants';

.retro-input {
  outline: none;
  margin: 15px;
  padding: 7px 0 7px 14px;
  border: 3px solid $light-gray;
  box-shadow: 0 0 0 1px $gray,
    inset 0 0 0 1px $gray,
    1px 2px 0 2px $gray;
  border-radius: 0.3em;
  color: $dark-gray;
  font: 600 1.3em $retro-font;
  width: calc(100% - 50px);

  &:focus {
    box-shadow: 0 0 0 1px $gray,
      inset 0 0 0 1px $gray,
      1px 2px 0 1px $gray;
  }
}
