@import '../../styles/constants';

.button {
  background: $light-purple;
  border-bottom: $transparent-black-border;
  border-left: $transparent-black-border;
  border-right: $transparent-gray-border;
  border-top: $transparent-gray-border;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font: 600 1.5rem $retro-font;
  margin: .7rem;
  min-width: 200px;
  padding: .5rem;
  width: auto;

  &:focus, &:hover {
    background: $lighter-purple;
  }
}
