$purple: #a88bff;
$light_purple: #bfa9ff;
$lighter_purple: #d6c9fc;
$light_yellow: #f9d859;
$neo_blue: #1133ad;

$dark_gray: #323232;
$gray: #5a5a5a;

$transparent_black_border: 6px inset #00000080;
$transparent_gray_border: 6px inset #ffffff80;

$retro_font: 'M PLUS 1p', sans-serif;
$neoposteos_font: 'Vantage BRK', sans-serif;
