$purple: #a88bff;
$light-purple: #bfa9ff;
$lighter-purple: #d6c9fc;
$light-yellow: #f9d859;
$neo-blue: #1133ad;
$dark-gray: #323232;
$gray: #5a5a5a;
$light-gray: #969696;
$transparent-black-border: 6px inset #00000080;
$transparent-gray-border: 6px inset #ffffff80;
$retro-font: 'M PLUS 1p', sans-serif;
$neoposteos-font: 'Vantage BRK', sans-serif;
$roboto-font: 'Roboto', sans-serif;
