@import 'https://fonts.cdnfonts.com/css/vantage-brk';
@import '../../styles/constants';

.signup {
  width: 500px;

  &__title {
    font: bold 35px $neoposteos-font;
    color: $neo-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
  }

  .submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
