@import 'https://fonts.cdnfonts.com/css/vantage-brk';
@import '../../styles/constants';

.login {
  width: 500px;

  &__title {
    font: bold 35px $neoposteos-font;
    color: $neo-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-family: $neoposteos-font;
      font-size: 20px;
      color: $neo-blue;
      text-align: center;
    }

    a {
      color: black;
    }
  }

  .submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
